
<div class='container'>
  <div class='row'>
    <div class="col-5 mx-auto">
      <h2 class="mb-4">ユーザー一覧</h2>

      <%= form_with url: users_path, method: :get, local: true do %>
        <div>
          <%= label_tag :word, "検索ワード" %>
          <%= params[:word] %>
        </div>
      <% end %>

      <div class="list-group">
        <% if @users.present? %>
          <% @users.each do |user| %>
            <div class="list-group-item">
              <h4 class="mb-1">名前</h4>
              <%= link_to user.name, user_path(user), class: "text-primary" %>
            </div>
          <% end %>
        <% else %>
          <p class="text-muted">現在、ユーザーが存在しません。</p>
        <% end %>
      </div>
    </div>
  </div>
</div>

