
<div class='container mt-5'>
  <div class='row'>
    <div class="col-lg-5 col-md-8 col-sm-10 col-12 mx-auto">
      <h2 class="mb-4 text-center">ユーザ一覧</h2>

      <%= form_with url: users_path, method: :get, local: true, class: "mb-3" do %>
        <div class="input-group">
          <%= label_tag :word, "検索ワード" %>
          <%= params[:word] %>
        </div>
      <% end %>

      <div class="list-group">
        <% if @users.present? %>
          <% @users.each do |user| %>
            <div class="list-group-item">
              <p class="mb-1">ユーザ名前</p>
              <%= link_to user.name, user_path(user), class: "text-primary" %>
            </div>
          <% end %>
        <% else %>
          <p class="text-muted">現在、ユーザーが存在しません。</p>
        <% end %>
      </div>
    </div>
  </div>
</div>

