
<div class='container mt-5'>
  <div class='row'>
    <!-- 他のUserプロフィール部分 -->
    <div class='col-md-3 col-12 mb-4'>
      <h2>ユーザー詳細</h2>
      <%= render 'users/mypage', user: @user %>
    </div>

    <!-- 投稿一覧 -->
    <div class='col-md-8 offset-md-1 col-12'>
      <h2>投稿一覧</h2>
      <%= render 'posts/index', posts: @posts %>
    </div>
  </div>
</div>

