
<h1>ユーザー詳細</h1>

<h2>名前</h2>
<p><%= @user.name %></p>

<% unless @user.guest_user? %>
  <% if @user == current_user %>
    <%= link_to "編集", edit_user_path(@user.id), class: "" %></td>
  <% else %>
  <% end %>
<% end %>