
<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="text-center">
    <h1 class="display-4 fw-bold mb-4">管理者ページ</h1>
    <p class="lead mb-3">ここでは管理者権限で投稿の閲覧・削除</p>
    <p class="lead mb-4">ユーザのアカウント削除等を行うことができます。</p>
    <div>
      <%= link_to "投稿管理", admin_posts_path, class: "btn btn-primary btn-lg me-2" %>
      <%= link_to "ユーザー管理", admin_users_path, class: "btn btn-secondary btn-lg" %>
    </div>
  </div>
</div>
