
<div class="container py-5">
  <h1 class="text-center mb-4">About Me</h1>

  <div class="row">
    <div class="col-md-4">
      <img src="<%= asset_path('profile_picture.jpg') %>" alt="My Profile Picture" class="img-fluid rounded-circle shadow">
    </div>
    <div class="col-md-8">
      <h2>こんにちは！</h2>
      <p>
        私の名前は<strong>藤本凌介</strong>です。ソフトウェアエンジニアとして、日々プログラミングに取り組んでいます。
        好きな言語はRuby、JavaScript。最近はITパスポート試験合格へ向けても勉強しています。
      </p>
      <p>
        趣味はゴルフ、アニメ鑑賞、そして食べる事です。新しいことに挑戦するのが好きで、常に学び続けることを大切にしています。
      </p>
      <p>
        このページに訪れてくださり、ありがとうございます！
      </p>
    </div>
  </div>
</div>