
<div class="wrapper col-md-4 col-10 mx-auto mt-5 text-center">
  <h1>welcome to <i class="fa-solid fa-tree"></i> <strong>Fairy-Forest</strong> !!</h1>
  <p>Different opinions, expressions, and feelings can be shared and exchanged!</p>
</div>

<div class="btn-wrapper col-md-4 col-10 mx-auto mt-5 text-center">
  <%= link_to "ゲストログイン（閲覧用）", users_guest_sign_in_path, class: "btn btn-secondary w-100 mb-3", method: :post %>
  <%= link_to "ログイン", new_user_session_path, class: "btn btn-info w-100 mb-3" %>
  <%= link_to "新規登録", new_user_registration_path, class: "btn btn-success w-100" %>
</div>
