
<div class="wrapper col-4 mx-auto mt-5">
  <h1>welcome to <i class="fa-solid fa-tree"></i></i><strong>Fairy-Forest</strong>  !!</h1>
  <p>Different opinions, expressions and feelings can be shared and exchanged!</p>
</div>

<div class="btn-wrapper col-4 mx-auto mt-5">
  <%= link_to "ゲストログイン（閲覧用）", users_guest_sign_in_path, class: "btn btn-secondary btn-block mb-3", method: :post %>
  <%= link_to "ログイン",new_user_session_path, class: "btn btn-info btn-block mb-3" %>
  <%= link_to "新規登録",new_user_registration_path, class: "btn btn-success btn-block" %>
</div>