
<li>
  <%= link_to admin_top_path, class: 'nav-link text-light' do %>
    <i class="fas fa-tools"></i> 管理者トップ
  <% end %>
</li>
<li>
  <%= link_to users_path, class: 'nav-link text-light' do %>
    <i class="fas fa-users"></i> ユーザー管理
  <% end %>
</li>
<li>
  <%= link_to posts_path, class: 'nav-link text-light' do %>
    <i class="fas fa-clipboard-list"></i> 投稿管理
  <% end %>
</li>
<li>
  <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link text-light' do %>
    <i class="fas fa-sign-out-alt"></i> ログアウト
  <% end %>
</li>
